// Place all the styles related to the api::annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
  overflow: auto;
}

div.annotation-container {
  float: right;
  width: 34%;

  position: relative;
}

div.annotation-container::after {
  clear: both;
  content: "";
  display: block;
}

div.annotation {
  position: fixed;
  border-left: 2px solid yellow;
  padding-left: 2%;
  bottom: 50%;
  right: 10%;
  width: 20%;
}

div.annotation-show-container {
  padding: 1%;
  // max-height: 1000px;
  width: 75%;
  position: absolute;
  padding: 3%;
  background-color: #1F1F1F;
  margin-right: 2%;
  border-left: 2px solid yellow;
}

div.annotation-body {
  // padding: 1%;
  color: #1B648A;
  font-size: 20px;
}

div.annotation-show-container > h5 {
  margin-bottom: 2%;
  color: yellow;
  font-size: 21px;
  margin: 0px;
  font-weight: 100;
}

a.annotation-link {
  background-color: #F5FF64;
  color: black;
}

button.annotation-link {
  height: inherit;
  background-color: #333333;
  border: 1px solid #F5FF64;
  width: 210%;
  color: #F5FF64;
  font-size: 18px;
  font-style: normal;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

div.annotation-link {
  padding: 10px;
  border-left: 2px solid yellow;
  position: fixed;
  bottom: 50%;
  right: 20%;
}

button.annotation-link:hover {
  cursor: pointer;
  background-color: #403E3E;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

div.annotation-image-upload {
  float: right;
  width: 100%;
  margin: 2% 1% 0% 0%;
}

div.annotation-image-upload > input {
  font-size: 16px;
  width: 100%;
  margin-left: 1%;
  float: left;
  background-color: inherit;
  border: none;
  color: #A5A2A2;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

div.annotation-image-upload > input:hover{
  color: white;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

div.annotation-image-upload > input.disabled {
  background-color: black;
  color: #16CE16;
  font-weight: 200;
  font-size: 16px;
}

div.annotation-image-upload > input.disabled:hover {
  background-color: black;
  cursor: default;
}

h3.instructions {
  color: cornflowerblue;
  font-style: italic;
}
