var SpeechIndexRight = React.createClass({
  getInitialState: function () {
    return {speeches: SpeechStore.all()};
  },
  componentWillMount: function () {
    SpeechStore.addChangeListener(this._update);
    ApiUtil.fetchSpeeches();
  },
  _update: function () {
    this.setState({speeches: SpeechStore.all()});
  },
  componentWillUnmount: function () {
    SpeechStore.removeChangeListener(this._update);
  },
  render: function () {
    return (
      <div className="index">
        <HeaderAbout/>
        <div className="song-index">
          {TITLES.map(function (title, idx) {
              return <SpeechRightIndexItem key={idx} id={idx+1}
              title={title} speaker={SPEAKERS[idx]} url={IMAGES[idx]} />;
            })
          }
        </div>
        <SpeechIndexBottom/>
      </div>
    );
  }
});

var TITLES = ["The Audacity Of Hope", "Remarks At The Bill Of Rights Dinner",
"The Ballot Or The Bullet"];
var SPEAKERS = ["Barack Obama", "Bob Dylan", "Malcolm X"];
var IMAGES = [<%= image_tag "obama.jpg" %>, <%= image_tag "dylan.jpg" %>,
 <%= image_tag "malcolm.jpg" %>];
