var SpeechIndexItem = React.createClass({
  mixins: [ReactRouter.History],
  onClick: function (e) {
    e.preventDefault();
    this.history.pushState(null, "/speeches/" + this.props.id);
  },
  render: function () {
    return (
      <div onClick={this.onClick} className="speech-index-item">
        <strong>{this.props.title}</strong> - {this.props.speaker}
        {this.props.url}
      </div>
    );
  }
});
