/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Fira Sans';
  color: white;
  background-color: black;
  margin: 0px;
}

div.index {
  margin: 0px 100px;
}

div.song-index {
  float: right;
}

div.header-about-img {
  width: 100%;
  height: 100%;
  float: left;
  background-image: url('http://www.worldaffairsjournal.org/sites/default/files/Che.jpg');
  background-size: cover;
  background-position: center center;
  opacity: .2;
  margin-bottom: 100px;
  font
}

div.header-about {
  width: 50%;
  height: 300px;
  float: left;
}

div.header-about > h1 {
  top: -12.4em;
  position: relative;
  right: -0.2em;
  height: 0px;
}

div.header-about > p {
  position: relative;
  bottom: 17.3em;
  left: 2em;
  font-size: 20px;
  width: 55%;
  height: 0px;
}

a {
  text-decoration: none;
}

header.header-2 {
  width: 100%;
  margin: auto;
  height: 51px;
  background-color: black;
  text-align: center;
}

header {
  background-color: #F5FF64;
  color: black;
}

header.pull-right {
  float: right;
}

header > h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logout, .new-speech {
  width: 10%;
  display: inline-block;
  text-align: center;
  /*float: right;*/
  color: cornflowerblue;
  background-color: black;
  padding: 13px;
}

.pull-left {
  float: left;
}

.logout, .new-speech, .home-page {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.logout:hover, .new-speech:hover, .home-page:hover{
  cursor: pointer;
  color: #F5FF64;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

h1.home-page:hover {
  color: #565656;
  text-shadow: black 1px -1px -1px;
}

div.speech-form {
  width: 500px;
  margin: auto;
}

h4.errors {
  color: red;
}

div.errors {
  color: red;
  width: 100%;
  margin: auto;
  text-align: center;
  font-style: normal;
}

div.speech-index-item {
  border: 1px solid white;
  padding: 10px;
  max-width: 300px;
  margin: 15px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

div.speech-index-item:hover {
  background-color: #565656;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

div.text {
  width: 500px;
  overflow-y: auto;
}

#text {
  white-space: pre-wrap;
}

div.auth-form{
  width: 35%;
  height: 250px;
  margin: 0px auto;
  text-align: center;
  background-color: grey;
  border: 1px solid;
}

div.auth-form > h2 {
  color: #F5FF64;
  margin: 0px;
  padding: 10px;
  font-size: 34px;
}

div.auth-form > form {
  background-color: #A09999;
  margin: 10px;
  width: 46%;
  margin: auto;
  padding: 5px;
  font-size: 14px;
  text-align: -webkit-left;
}

div.auth-form > form > input {
  width: 95%;
  height: 20px;
  background-color: grey;
  border-radius: 5%;
  border: 1px solid black;
}

div.speech-container{
  width: 50%;
  float: left;
  margin-left: 10%;
  border-left: 1px solid white;
  padding-left: 3%;
}

a.annotation-link {
  background-color: #F5FF64;
  color: black;
}

div.auth-form > form > input.submit {
  width: inherit;
  margin-top: 10px;
  color: white;
}

button.annotation-link {
  height: inherit;
  background-color: #333333;
  border: 1px solid #F5FF64;
  width: 350px;
  color: #F5FF64;
  font-size: 18px;
  font-style: normal;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

div.annotation-link {
  padding: 10px;
  border-left: 2px solid yellow;
  position: fixed;
}

button.annotation-link:hover {
  cursor: pointer;
  background-color: #403E3E;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.hidden {
  display: none;
}

div.comment-container {
  padding: 2%;
  background-color: #2D2C2C;
  padding-left: 2%;
  margin-top: 4%;
  text-align: left;
}

textarea {
  background-color: #5D5959;
  font-size: 16px;
  width: 97%;
  padding: 1%;
  border: 1px solid #A5A2A2;
  color: #EAE9E9;
}

input {
  width: inherit;
  background-color: #424242;
  border-radius: 5%;
  border: 1px solid #C1C1C1;
  color: #E4E4E4;
  font-size: 13px;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

input:hover {
  cursor: pointer;
  background-color: #A5A2A2;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

div.comment-form {
  margin-bottom: 1%;
}

div.comment {
  border-bottom: 1px solid white;
  padding: 1%;
}

div.comment-header {
  width: inherit;
  min-height: 25px;
  font-size: 13px;
}

div.comment-created-at {
  float: right;
  font-size: 11px;
  color: #B1A9A9;
}

div.comment-body {
  padding: 1%;
  color: #C176BA;
}

div.annotation-container {
  float: right;
  width: 28%;
  padding: 3%;
  background-color: #1F1F1F;
  margin-right: 2%;
  border-left: 2px solid yellow;
}

div.invisible {
  float: right;
  width: 28%;
  padding: 3%;
  background-color: black;
  margin-right: 2%;
  border-left: none;
}

div.annotation {
  position: fixed;
  border-left: 2px solid yellow;
  padding-left: 2%;
}

div.annotation-show-container {
  padding: 1%;
  /*position: fixed;*/
}

div.annotation-body {
  padding: 1%;
  color: #1B648A;
  font-size: 20px;
}

div.annotation-show-container > h5 {
  margin-bottom: 2%;
  color: yellow;
  font-size: 21px;
  margin: 0px;
  font-weight: 100;
}

input.cancel {
  background-color: black;
  border: none;
  margin: 5%;
}
