/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Fira Sans';
  color: white;
  background-color: black;
  margin: 0px;
}

::-webkit-input-placeholder {

}

div.index {
  margin: 0px 100px;
}

div.song-index {
  float: right;
}

div.header-about-img {
  width: 100%;
  height: 100%;
  float: left;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/6c/54/b2/6c54b20d163862f5ee52606b034069a6.jpg');
  background-size: cover;
  background-position: center center;
  opacity: .2;
  margin-bottom: 100px;
}

div.header-about {
  width: 50%;
  height: 300px;
  float: left;
}

div.header-about > h1 {
  top: -12.4em;
  position: relative;
  right: -0.2em;
  height: 0px;
}

div.header-about > p {
  position: relative;
  bottom: 17.3em;
  left: 2em;
  font-size: 20px;
  width: 55%;
  height: 0px;
}

a {
  text-decoration: none;
}

header.header-2 {
  width: 100%;
  margin: auto;
  height: 51px;
  background-color: black;
  text-align: center;
}

header {
  background-color: #F5FF64;
  color: black;
  /*position: relative;*/
}

header.pull-right {
  float: right;
}

header > h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 61%;
}

header.auth > h1 {
  text-align: center;
  width: 50%;
  margin: auto;
}

.logout, .new-speech {
  min-width: 10%;
  display: inline-block;
  text-align: center;
  /*float: right;*/
  color: cornflowerblue;
  background-color: black;
  padding: 13px;
}

.pull-left {
  float: left;
}

.logout, .new-speech, .home-page {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.logout:hover, .new-speech:hover, .home-page:hover{
  cursor: pointer;
  color: #F5FF64;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

h1.home-page:hover {
  color: #565656;
  text-shadow: black 1px -1px -1px;
}

h4.errors {
  color: red;
  margin: 3% 0px;
  font-weight: 100;
}

div.errors {
  color: red;
  width: 100%;
  margin: auto;
  text-align: center;
  font-style: normal;
}

div.text {
  width: 500px;
  overflow-y: auto;
}

#text {
  white-space: pre-wrap;
  line-height: 27px;
}

.hidden {
  display: none;
}

textarea {
  background-color: #424242;
  font-size: 16px;
  width: 97%;
  padding: 1%;
  border: 1px solid #A5A2A2;
  color: #EAE9E9;
}

input {
  width: inherit;
  background-color: #424242;
  border-radius: 5%;
  border: 1px solid #C1C1C1;
  color: #E4E4E4;
  font-size: 13px;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

input:hover {
  cursor: pointer;
  background-color: #A5A2A2;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

input.cancel {
  background-color: inherit;
  border: none;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

div.invisible {
  float: right;
  width: 28%;
  padding: 3%;
  background-color: black;
  margin-right: 2%;
  border-left: none;
}

input.cancel:hover {
  color: #B91919;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

div.image-upload {
  float: right;
  width: 100%;
  margin: 2% 1% 0% 0%;
}

div.image-upload > input {
  font-size: 16px;
  width: 22%;
  float: right;
  background-color: inherit;
  border: none;
  color: #A5A2A2;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

div.image-upload > input:hover{
  color: white;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

div.image-upload > input.disabled {
  background-color: black;
  color: #16CE16;
  font-weight: 200;
  font-size: 16px;
}

div.image-upload > input.disabled:hover {
  background-color: black;
  cursor: default;
}

div.form-input {
  float: left;
  width: 50%;
}

div.form-input > input {
  width: 95%;
  min-height: 25px;
}

div.form-input > input:hover {
  cursor: auto;
  background-color: #424242;
}
