// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.comment-container {
  padding: 2%;
  background-color: #2D2C2C;
  padding-left: 2%;
  margin-top: 4%;
  text-align: left;
  margin-bottom: 4%;
}

div.comment-image-upload {
  min-height: 25px;
  width: 69%;
  float: right;
}

div.comment-image-upload > input {
  font-weight: 300;
  width: 55%;
  font-size: 16px;
  background-color: inherit;
  border: none;
  color: #A5A2A2;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

div.comment-image-upload > input:hover{
  color: white;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

div.comment-image-upload > input.disabled {
  color: #16CE16;
  font-weight: 200;
  font-size: 16px;
}

div.comment-image-upload > input.disabled:hover {
  cursor: default;
}

div.comment {
  border-bottom: 1px solid white;
  padding: 1%;
}

div.comment-header {
  width: inherit;
  min-height: 25px;
  font-size: 13px;
}

div.comment-created-at {
  float: right;
  font-size: 11px;
  color: #B1A9A9;
}

div.comment-body {
  // padding: 1%;
  padding-bottom: 1%;
  color: #C176BA;
}

div.comment-form {
  margin-bottom: 1%;
}

div.comment-submit-button {
  width: 17%;
  float: left;
}

div.comment-submit-button > input {
  width: auto;
}

div.comment-button-container {
  min-height: 25px;
  margin-top: 1%;
}
