// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.auth-form > form > input {
  width: 95%;
  height: 20px;
  border-radius: 5%;
  border: 1px solid black;
}

div.auth-form > form > input.submit {
  width: inherit;
  margin: 2% 25% 0%;
  color: white;
  height: 100%;
}

div.auth-form > form > input.submit:hover, div.auth-form > form > input.guest-submit:hover, div.auth-form > form > input:hover {
  background-color: #6F6D6D;
}

div.auth-form > form > input.guest-submit {
  width: inherit;
  margin: 0% 25% 0%;
  color: white;
  height: 100%;
}

div.auth-form{
  width: 35%;
  height: 250px;
  margin: 2% auto;
  text-align: center;
  border: 1px solid;
}

div.auth-form > h2 {
  color: #F5FF64;
  margin: 0px;
  padding: 10px;
  font-size: 34px;
}

div.auth-form > form {
  margin: 10px;
  width: 46%;
  margin: auto;
  padding: 5px;
  font-size: 14px;
  text-align: -webkit-left;
}
